{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "extensions": [".js"]
    }],
    "babel-plugin-inline-import-graphql-ast"
  ]
}
